@font-face {
    font-family: 'alluraregular';
    src: url('./fonts/allura/allura-regular-webfont.woff2') format('woff2'),
        url('./fonts/allura/allura-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'assetregular';
    src: url('./fonts/Asset-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}

body,
html {
    height: 100%;
    margin: 0;
}


/* header */
header {
    position: fixed;
    display: block;
    width: 100%;
    z-index: 1000;
    min-height: fit-content;
}


#header-main {
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./public/sky.jpg');
    color: antiquewhite;
}

#header-main #name {
    font-size: 10vw;
    font-family: 'alluraregular';
    white-space: nowrap;
    /*animation: grow 2s 1;*/
}

#header-main div span {
    position: relative;
    display: inline-block;
    font-family: 'assetregular';
    font-size: 3vw;
    text-transform: uppercase;
    animation: flip 2s 1;
    animation-delay: calc(.1s * var(--i))
}

/*
header span {
    background-color: blue;
}
*/


/* menu */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}

nav a {
    text-decoration: none;
    color: green;
    background-color: white;
    transition-duration: 0.5s;
}

nav a:hover {
    text-decoration: none;
    color: white;
    background-color: green;
}

/* parallax */

div[class^="parallax"] {
    background-image: url('./public/sky.jpg');
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    div[class^="parallax"] {
        background-attachment: scroll;
    }
}

.main {
    height: 50%;
}

.buffer {
    height: 30%;
}

div[class^="content"] {
    height: 100px;
    background-color: goldenrod;
    color: yellowgreen;
    font-size: 36px;
    opacity: 0.5;
    transition: opacity 1s, color 0.5s;
}

div[class^="content"]:hover {
    opacity: 1;
    color: black;
}


/* animations*/

@keyframes flip {

    0%,
    80% {
        transform: rotateY(360deg)
    }
}

@keyframes grow {

    0% {
        transform: scale(0)
    }

    80% {
        transform: scale(1)
    }
}