@font-face {
    font-family: 'alluraregular';
    src: url('./fonts/allura/allura-regular-webfont.woff2') format('woff2'),
        url('./fonts/allura/allura-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



body,
html {
    height: 100%;
    margin: 0;
}


/* header */
header {
    position: fixed;
    display: block;
    width: 100%;
    height: 300px;
    background-color: white;
    z-index: 1000;

}

#header-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 300%;
}


#header-main div {
    margin: 20px;
}

#header-main #logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}



#header-main #script {
    flex-direction: column;
    flex-grow: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'alluraregular';
    font-size: 200%;
    color: transparent;
}

#header-main #script div {
    /*width: 100%;*/
}

/*
header span {
    background-color: blue;
}
*/


/* menu */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}

nav a {
    line-height: 50px;
    text-decoration: none;
    color: green;
    background-color: white;
    transition-duration: 0.5s;
}

nav a:hover {
    text-decoration: none;
    color: white;
    background-color: green;
}

/* parallax */

div[class^="parallax"] {
    background-image: url('./public/matrixlike.jpg');
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    div[class^="parallax"] {
        background-attachment: scroll;
    }
}

.main {
    height: 50%;
}

.buffer {
    height: 30%;
}

div[class^="content"] {
    height: 100px;
    background-color: goldenrod;
    color: yellowgreen;
    font-size: 36px;
    opacity: 0.5;
    transition: opacity 1s, color 0.5s;
}

div[class^="content"]:hover {
    opacity: 1;
    color: black;
}