body,
html {
    height: 100%;
    margin: 0;

}

.parallax {
    background-image: url('./public/matrixlike.jpg');
    height: 50%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

.buffer {
    height: 30%;
    background-image: url('./public/matrixlike.jpg');
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content1 {
    height: 100px;
    background-color: goldenrod;
    font-size: 36px
}

.content2 {
    height: 100px;
    background-color: orange;
    font-size: 36px
}