header {
    /*position: fixed;*/
    background-color: aquamarine;
}


/* default navigation values */
nav {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    align-items: stretch;
}

nav h2 {
    color: aquamarine;
    padding-left: 1em;

}

nav a {
    flex: auto;
    text-align: center;
    background: aquamarine;
    color: grey;
    margin: 2px;
    padding: 2px 10px;
    text-decoration: none;
    align-self: center;
}

nav a:hover {
    outline: 1px solid red;
    color: red;
    text-decoration: underline;
}